In [28]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split

In [94]:
data = pd.read_csv("CarPrice.csv")

data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [118]:
from sklearn.preprocessing import LabelEncoder
lista_coluna = data.columns

total = len(lista_coluna)
print (total)

data[lista_coluna] = data[lista_coluna].apply(LabelEncoder().fit_transform)
data

26

     car_ID  symboling  CarName  fueltype  ...  peakrpm  citympg  highwaympg  price
0         0          5        2         1  ...       10        8          10    118
1         1          5        3         1  ...       10        8          10    137
2         2          3        1         1  ...       10        6           9    137
3         3          4        4         1  ...       16       11          13    123
4         4          4        5         1  ...       16        5           5    148
..      ...        ...      ...       ...  ...      ...      ...         ...    ...
200     200          1      139         1  ...       15       10          11    143
201     201          1      138         1  ...       14        6           8    161
202     202          1      140         1  ...       16        5           6    165
203     203          1      142         0  ...        8       13          10    167
204     204          1      143         1  ...       15        6           8    168

[205 rows x 26 columns]

In [ ]:
x = data.iloc[:,:total -2].values
y = data.iloc[:,total -1].values

In [108]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size =0.7, random_state=0)

In [109]:
reg = linear_model.LinearRegression(normalize=True)
reg.fit (x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

LinearRegression(normalize=True)

In [110]:
print("slope:", reg.coef_)
print("Bias", reg.intercept_)

slope: [  0.23663273   2.01164534  -0.47402107  -8.13623781   5.81131787
 -10.19099902  -7.39220473   5.57124924  42.77766844   0.5238954
   0.34580561   0.16706808   0.07455392   0.34427815   0.07025409
   3.31493875  -0.42011446   1.97246504  -0.11973408  -0.30694958
   0.54041304   0.88870615   0.36191938  -1.20386662]
Bias 44.02737807389254

In [116]:
y_pred = reg.predict (x_test)
print("MSE Train:", mean_squared_error(y_test,y_pred))
print("R2 Train:", r2_score(y_test, y_pred))
print ("R2 Train:", reg.score(x_train, y_train))

MSE Train: 428.5093173351813
R2 Train: 0.8590198363845899
R2 Train: 0.9213934526492057